Repository elloloop/refraction-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: track/ci, track/release, track/cli, track/components, track/tokens, track/mcp, track/docs, track/storybook, size/XS, size/S, size/M, size/L, size/XL, type/bug, type/feature, type/chore, type/docs, type/refactor, type/test, priority/high, priority/medium, priority/low, breaking, a11y, performance

.github/labeler.yml:

# Auto-labeling rules for PRs
# Based on project structure and common patterns

# Track-based labels
track/ci:
  - ".github/workflows/**"
  - "scripts/**"
  - "turbo.json"
  - "package.json"
  - "pnpm-lock.yaml"

track/release:
  - ".changeset/**"
  - "docs/release-checklist.md"
  - "package.json"

track/cli:
  - "packages/cli/**"
  - "templates/**"
  - "docs/contracts/cli-spec.md"

track/components:
  - "packages/react/**"
  - "packages/engines/**"
  - "docs/contracts/component-api.md"

track/tokens:
  - "packages/tokens-core/**"
  - "docs/contracts/tokens-schema.md"
  - "docs/contracts/schemas/tokens.schema.json"

track/mcp:
  - "packages/mcp-server/**"
  - "docs/contracts/mcp-tools.md"
  - "docs/contracts/schemas/mcp-tools.schema.json"

track/docs:
  - "docs/**"
  - "README.md"
  - "CONTRIBUTING.md"
  - "CODE_OF_CONDUCT.md"

track/storybook:
  - ".storybook/**"
  - "packages/*/stories/**"
  - "docs/contracts/adr-0002-storybook-playground.md"

# Size-based labels
size/XS:
  - "**/*.md"
  - "**/*.json"
  - "**/*.yml"
  - "**/*.yaml"
  - "**/*.txt"

size/S:
  - "packages/*/src/**/*.ts"
  - "packages/*/src/**/*.tsx"
  - "scripts/**/*.js"
  - "scripts/**/*.ts"

size/M:
  - "packages/*/src/**/*.ts"
  - "packages/*/src/**/*.tsx"

size/L:
  - "packages/*/src/**/*.ts"
  - "packages/*/src/**/*.tsx"

size/XL:
  - "packages/*/src/**/*.ts"
  - "packages/*/src/**/*.tsx"

# Type-based labels
type/bug:
  - "**/fix/**"
  - "**/bug/**"
  - "**/issue/**"

type/feature:
  - "**/feat/**"
  - "**/feature/**"
  - "**/add/**"

type/chore:
  - "**/chore/**"
  - "**/ci/**"
  - "**/build/**"
  - "**/deps/**"

type/docs:
  - "**/docs/**"
  - "**/readme/**"
  - "**/*.md"

type/refactor:
  - "**/refactor/**"
  - "**/cleanup/**"

type/test:
  - "**/test/**"
  - "**/spec/**"
  - "**/*.test.*"
  - "**/*.spec.*"

# Priority labels
priority/high:
  - "**/security/**"
  - "**/critical/**"
  - "**/urgent/**"

priority/medium:
  - "**/important/**"

priority/low:
  - "**/nice-to-have/**"
  - "**/enhancement/**"

# Breaking change detection
breaking:
  - "**/breaking/**"
  - "**/major/**"
  - "BREAKING CHANGE"
  - "breaking change"

# Accessibility
a11y:
  - "**/a11y/**"
  - "**/accessibility/**"
  - "**/axe/**"
  - "packages/*/src/**/*.tsx"
  - "packages/*/stories/**"

# Performance
performance:
  - "**/perf/**"
  - "**/performance/**"
  - "**/optimize/**"
  - "scripts/size-check.js"

test: add simple test workflow
  .github/workflows/test.yml
Labels: track/ci, size/XS

test: add simple test workflow
  .github/workflows/test.yml
Labels: track/ci, size/XS

fix: correct indentation in issue sync workflow
  .github/workflows/issue-sync.yml
Labels: track/ci, size/XS

fix: correct indentation in issue sync workflow
  .github/workflows/issue-sync.yml
Labels: track/ci, size/XS

chore: remove test workflow
  .github/workflows/test.yml
Labels: track/ci, size/XS

chore: remove test workflow
  .github/workflows/test.yml
Labels: track/ci, size/XS

test: add test markdown file to trigger sync workflow
  issues/issues/TEST-SYNC.md
Labels: size/XS, type/docs

feat: comprehensive issue review and enhancement
  issues/issues/CI-SETUP.md
  issues/issues/CLI-A11Y.md
  issues/issues/CLI-ADD.md
  issues/issues/CLI-CORE.md
  issues/issues/CLI-INIT.md
  issues/issues/CLI-TOKENS.md
  issues/issues/CLI-UPGRADE.md
  issues/issues/COMP-API-CONTRACT.md
  issues/issues/COMP-BUTTON.md
  issues/issues/COMP-DIALOG.md
  issues/issues/COMP-DROPDOWN.md
  issues/issues/COMP-INPUT.md
  issues/issues/COMP-POPOVER.md
  issues/issues/COMP-TABS.md
  issues/issues/COMP-TOAST.md
  issues/issues/COMP-TOOLTIP.md
  issues/issues/DOCS-FREEZE.md
  issues/issues/DOCS-SITE.md
  issues/issues/ENGINE-ADAPTER-IFACE.md
  issues/issues/ENGINE-RADIX.md
  issues/issues/MCP-SERVER.md
  issues/issues/RELEASE-PIPELINE.md
  issues/issues/STORYBOOK-SETUP.md
  issues/issues/THEME-RUNTIME.md
  issues/issues/TOKENS-BUILD.md
  issues/issues/TOKENS-SCHEMA.md
Labels: size/XS, type/docs

feat(cli): add tokens build validate and watch
  README.md
  cli.js
  package-lock.json
  package.json
Labels: track/ci, track/release, track/docs, size/XS, type/docs

feat(cli): add basic CLI framework with config loader
  .eslintrc.cjs
  package.json
  packages/cli/package.json
  packages/cli/src/commands/init.ts
  packages/cli/src/index.ts
  packages/cli/src/lib/config.test.ts
  packages/cli/src/lib/config.ts
  packages/cli/src/lib/fs-utils.ts
  packages/cli/tsconfig.json
  packages/cli/vitest.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: track/ci, track/release, track/cli, size/XS, size/S, size/M, size/L, size/XL, type/test

feat: add Dialog component package
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/src/dialog.tsx
  packages/react/src/index.ts
  packages/react/tsconfig.json
Labels: track/components, size/XS, size/S, size/M, size/L, size/XL, a11y

feat: implement dropdown component
  __tests__/dropdown.test.tsx
  package.json
  pnpm-lock.yaml
  setupTests.ts
  src/Dropdown.tsx
  tsconfig.json
  vitest.config.ts
  vitest.d.ts
Labels: track/ci, track/release, size/XS, type/test

feat(react): add Popover component
  docs/components/popover.md
  packages/react/package.json
  packages/react/src/Popover.tsx
  packages/react/src/index.ts
  packages/react/tsconfig.json
Labels: track/components, track/docs, size/XS, size/S, size/M, size/L, size/XL, type/docs, a11y

docs: add tabs usage example
  README.md
  packages/react/__tests__/Tabs.test.tsx
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/src/components/Tabs.tsx
  packages/react/src/index.ts
  packages/react/tsconfig.json
  packages/react/vitest.config.ts
Labels: track/components, track/docs, size/XS, size/S, size/M, size/L, size/XL, type/docs, type/test, a11y

feat: add Tooltip component
  package.json
  packages/react/README.md
  packages/react/package.json
  packages/react/src/components/Tooltip.tsx
  packages/react/src/index.ts
  packages/react/tsconfig.json
  tsconfig.json
Labels: track/ci, track/release, track/components, size/XS, size/S, size/M, size/L, size/XL, type/docs, a11y

feat(cli): implement add command with templates
  .eslintrc.json
  bin/refraction.js
  package.json
  pnpm-lock.yaml
  templates/components/button/Button.stories.tsx.hbs
  templates/components/button/Button.tsx.hbs
  tests/add.test.js
Labels: track/ci, track/release, track/cli, size/XS, type/test

feat(cli): add init command
  README.md
  cli/index.js
  package-lock.json
  package.json
Labels: track/ci, track/release, track/docs, size/XS, type/docs

fix(cli): accept rollback value
  components/button.js
  packages/cli/README.md
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/upgrade.js
  templates/button/1.0.0/button.js
  templates/button/latest/button.js
Labels: track/cli, size/XS, type/docs

feat(cli): add axe a11y checker
  README.md
  docs/contracts/cli-spec.md
  issues/issues/CLI-A11Y.md
  package.json
  scripts/a11y-check.js
Labels: track/ci, track/release, track/cli, track/docs, size/XS, size/S, type/docs

feat(engine): add EngineAdapter interface and contract tests
  jest.config.js
  package-lock.json
  package.json
  src/EngineAdapter.ts
  src/SimpleEngineAdapter.ts
  test/engine-adapter.test.ts
  tsconfig.json
Labels: track/ci, track/release, size/XS, type/test

Add documentation site prototype
  site/cli.html
  site/components.html
  site/getting-started.html
  site/index.html
  site/playground.html
  site/script.js
  site/style.css
Labels: none

chore: setup storybook
  .storybook/main.ts
  .storybook/preview.ts
  README.md
  docs/storybook/README.md
  package-lock.json
  package.json
  src/components/Button.tsx
  src/index.css
  stories/Button.stories.tsx
  tsconfig.json
Labels: track/ci, track/release, track/docs, track/storybook, size/XS, type/docs

feat(mcp): add JSON-RPC server
  README.md
  packages/mcp-server/package-lock.json
  packages/mcp-server/package.json
  packages/mcp-server/src/cli-tools.js
  packages/mcp-server/src/index.js
  packages/mcp-server/src/schemas.js
  packages/mcp-server/test/basic.test.js
Labels: track/mcp, track/docs, size/XS, type/docs, type/test

chore: add changesets config and release workflow
  .changeset/config.json
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: track/ci, track/release, size/XS

feat(toast): add toast component with provider
  .eslintrc.json
  jest.config.js
  jest.setup.ts
  package-lock.json
  package.json
  src/components/Toast.tsx
  src/components/ToastProvider.test.tsx
  src/components/ToastProvider.tsx
  src/index.ts
  tsconfig.json
Labels: track/ci, track/release, size/XS, type/test

feat(cli): complete foundational CLI framework with comprehensive fixes and enhancements
  packages/cli/TEST_PLAN.md
  packages/cli/package.json
  packages/cli/src/index.ts
  packages/cli/src/lib/config.test.ts
  packages/cli/src/lib/config.ts
  packages/cli/src/lib/fs-utils.test.ts
  packages/cli/src/lib/fs-utils.ts
  packages/cli/tsconfig.json
Labels: track/cli, size/XS, size/S, size/M, size/L, size/XL, type/docs, type/test

docs: update CLI-CORE and CLI-INIT issue status
  issues/issues/CLI-CORE.md
  issues/issues/CLI-INIT.md
Labels: size/XS, type/docs

docs: update issue numbers to match GitHub issues
  issues/issues/CLI-CORE.md
  issues/issues/CLI-INIT.md
Labels: size/XS, type/docs

Remove GitHub to issue sync workflow
  .github/workflows/issue-sync.yml
  docs/issue-sync.md
  docs/workflows.md
  issues/issues/CI-SETUP.md
  issues/issues/CLI-CORE.md
  issues/issues/CLI-INIT.md
Labels: track/ci, track/docs, size/XS, type/docs

fix: resolve failing CI workflows and add missing configurations
  .github/workflows/ci.yml
  .gitignore
  PR_DESCRIPTION.md
  docs/contracts/.DS_Store
  package.json
  packages/cli/IMPLEMENTATION_SUMMARY.md
  packages/cli/package.json
  pnpm-lock.yaml
  turbo.json
Labels: track/ci, track/release, track/cli, track/docs, size/XS, type/docs
